<h1> Howdy </h1>
	<head>
		<meta charset="UTF-8">
		<title>Edopter</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
	</head>
	<body>
		
		<div class="row-fluid">
	  		<div class="span6" "main_header">...
	  			<h1>Connecting Startups and Early Adopters</h1>
	  		</div>
	  		<div class="span4 offset4">
	  			<button class="btn btn-large btn-block btn-primary" type="button">let's go!</button>
	  		</div>
		</div>
		<div class="container">
	    	<div class="row-fluid">
		  		<div class="span6">...
		  			<p class="lead">Edopters</p>
		  			<p>Early access, focused feeback.</p>
		  			<p>Edopter means early adopter. Our mission is to provide immense value to those of you who like to try things early. Anyone eager enough to try something out before it's cool, is cool.</p>
		  		</div>
		  		<div class="span4 offset4">
		  			<button class="btn btn-large btn-block btn-primary" type="button">let's connect</button>
		  			<p><a href="#">join a meetup</a></p>
	  			</div>
			</div>
	  	</div>
	  	<div class="container">
	    	<div class="row-fluid">
		  		<div class="span6">...
		  			<p class="lead">Meetups</p>
		  			<p>Where users ad builders unite.</p>
		  			<p>So where are these products? Well, we bring the starups out of their garages into a place to mix and mingle then test. We encourage you to play with the product and see what you think.</p>
		  		</div>
		  		<div class="span4 offset4">
		  			<button class="btn btn-large btn-block btn-primary" type="button">let's learn</button>
	  			</div>
	  			<p><a href="#">join a meetup</a></p>
			</div>
	  	</div>
	  	<div class="container">
	    	<div class="row-fluid">
		  		<div class="span6">...
		  			<p class="lead">Startups</p>
		  			<p>Advancing the feedback loop.</p>
		  			<p>Build. Measure.Learn. We have been encouraged to get out of the building. But where? And to whom? At Edopter, we help to advacne the feedback loop by bringing in users and potential users to play with your product and get a real-time analysis of what you have built. </p>
		  		</div>
		  		<div class="span4 offset4">
		  			<button class="btn btn-large btn-block btn-primary" type="button">let's test</button>
		  			<p><a href="#">join a meetup</a></p>
	  			</div>
			</div>
	  	</div>
	</body>