<h1>Editing Password</h1>

<%= form_tag(user_url(@user), method: 'put') do %>

 <div>
    <%= label_tag :password %><br />
    <%= password_field_tag :password, @user.password %>
  </div>

    <div>
    <%= submit_tag "Update Password" %>
  </div>
  
  <% end %>