<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Edopter</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<nav class="clearfix">
		<h1>edopter</h1>
		</nav>
		<div class="row-fluid panel-back-1 edopt">
	  		<div class="span8 offset1 main_header">
	  			<h2>Connecting startups <br> and early adopters</h2>
	  			<button class="btn btn-large btn-block btn-primary site_button" type="button">let's go!</button>
	  			<p class="join_meetup"><a href="#">join a meetup</a></p>
	  		</div>
		</div>
		<div class="panel-back-2 edopt">
			<div class="container">
		    	<div class="row-fluid">
			  		<div class="span7 spacing">
			  			<h2 class="sub_header">see what's new</h2>
			  			<h3>early access to the 'new thing'.</h3>
			  			<p>Edopter - early adopters - like to try things first. Our mission is to connect you with emerging companies, becasue trying something out before it's cool...is cool.</p>
			  			<button class="btn btn-large btn-block btn-primary site_button" type="button">let's connect</button>
			  			<p class="join_meetup"><a href="#">join a meetup</a></p>
		  			</div>
				</div>
		  	</div>
		  </div>
	  	<div class="panel-back-3 edopt">
	  		<div class="container">
	    		<div class="row-fluid">
			  		<div class="span7 spacing">
			  			<h2 class="sub_header_light">meet face-to-face</h2>
			  			<h3 class="color_header">connecting users and builders.</h3>
			  			<p class="color_switch">Where are these emerging companies? We bring the startups into the community so you can tinker and test the latest technolgoes before anyone else.</p>
			  			<button class="btn btn-large btn-block btn-primary site_button" type="button">see who's next</button>
			  			<p class="join_meetup"><a href="#">join a meetup</a></p>
		  			</div>
	  			</div>
			</div>
	  	</div>
	  	<div class="panel-back-4 edopt">
	    	<div class="container">
		    	<div class="row-fluid">
			  		<div class="span7 spacing">
			  			<h2 class="sub_header">get helpful feedback</h2>
			  			<h3>accelerating focused feedback.</h3>
			  			<p>Build. Measure. Learn. We help advance the feedback loop by directing users to your product for a real-time analysis.</p>
			  			<button class="btn btn-large btn-block btn-primary site_button" type="button">let's test</button>
			  			<p class="join_meetup"><a href="#">join a meetup</a></p>
		  			</div>
				</div>
			</div>
	  	</div>
	  	<div>
	  		<h2 class="sub_header_light contact_team">meet our team</h2>
	  		<ul id="team_layout">
	  			<li>
	  				<img src="./assets/kevin-lee.jpg">
	  				<h4>Kevin Lee</h4>
	  				<p>User Experience</p>
	  				<a href="https://twitter.com/kleeee23" target="_blank">
	  					<img src="./assets/TwitterHover.png">
	  				</a>
	  				<a href="http://www.linkedin.com/profile/view?id=126517788&locale=en_US&trk=tyah" target="_blank">
	  					<img src="./assets/LinkedInHover.png">
	  				</a>
	  			</li>
	  			<li>
	  				<img src="./assets/megan-mcsherry.jpg">
	  				<h4>Megan McSherry</h4>
	  				<p>Visual Design</p>
	  				<a href="https://twitter.com/meganmcsherry" target="_blank">
	  					<img src="./assets/TwitterHover.png">
	  				</a>
	  				<a href="http://www.linkedin.com/profile/view?id=218456114&authType=NAME_SEARCH&authToken=TnmE&locale=en_US&srchid=710529121370396269365&srchindex=1&srchtotal=6&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A710529121370396269365%2CVSRPtargetId%3A218456114%2CVSRPcmpt%3Aprimary" target="_blank">
	  					<img src="./assets/LinkedInHover.png">
	  				</a>
	  			</li>
	  			<li>
	  				<img src="./assets/mike-adeleke.jpg">
	  				<h4>Mike Adeleke</h4>
	  				<p>Front End</p>
	  				<a href="https://twitter.com/mikeadeleke" target="_blank">
	  					<img src="./assets/TwitterHover.png">
	  				</a>
	  				<a href="http://www.linkedin.com/profile/view?id=71052912&authType=NAME_SEARCH&authToken=rFRI&locale=en_US&srchid=710529121370396345557&srchindex=1&srchtotal=23&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A710529121370396345557%2CVSRPtargetId%3A71052912%2CVSRPcmpt%3Aprimary" target="_blank">
	  					<img src="./assets/LinkedInHover.png">
	  				</a>
	  			</li>
	  			<li>
	  				<img src="./assets/0d7aaaf.jpg">
	  				<h4>Wade Niday</h4>
	  				<p>User Experience</p>
	  				<a href="https://twitter.com/NidayLikeFriday" target="_blank">
	  					<img src="./assets/TwitterHover.png">
	  				</a>
	  				<a href="http://www.linkedin.com/profile/view?id=24145713&authType=NAME_SEARCH&authToken=_opm&locale=en_US&srchid=710529121370396186681&srchindex=1&srchtotal=1&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A710529121370396186681%2CVSRPtargetId%3A24145713%2CVSRPcmpt%3Aprimary" target="_blank">
	  					<img src="./assets/LinkedInHover.png">
	  				</a>
	  			</li>
	  			<li>
	  				<img src="./assets/trooper.jpg">
	  				<h4>Yurij Bryndzia</h4>
	  				<p>Web Development</p>
	  				<a href="https://twitter.com/RookieInnovator" target="_blank">
	  					<img src="./img/TwitterHover.png">
	  				</a>
	  				<a href="http://www.linkedin.com/profile/view?id=54078100&authType=NAME_SEARCH&authToken=E6zf&locale=en_US&srchid=710529121370396159165&srchindex=1&srchtotal=1&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A710529121370396159165%2CVSRPtargetId%3A54078100%2CVSRPcmpt%3Aprimary" target="_blank">
	  					<img src="./assets/LinkedInHover.png">
	  				</a>
	  			</li>
	  		</ul>
	  		<a href="mailto:mike@edopter.co">
	  			<button class="btn btn-large btn-block btn-primary site_button contact_button" type="button">Contact Us</button>
	  		</a>
		</div>
	</body>
</html>