<h1>Welcome!</h1>

<h3> <font color="black"> Are you an Edopter? </font></h3>
<%= link_to ("Become an Edopter!"), new_user_url, class: "btn btn-large"  %>

<div>
<h4><font color="black"> Or </font><h4>
</div>

<div>
<h3 ><font color="black"> Are you a Startup? </font></h3>

<%= link_to ("Start Testing!"), new_company_url, class: "btn btn-large"  %>
</div>