<h1>Welcome!</h1>

<b>Interested in Joining?</b>

<h3>Are you an Edopter?</h3>
<%= link_to ("Edopter"), new_user_url, class: "btn btn-large"  %>

<h5>Or<h5>

<h3>An Innovative Startup?</h3>

<%= link_to ("Startup"), new_company_url, class: "btn btn-large"  %>